// Parameters for scRNA-seq workflow

params {

    // general options:
    pubmode             = 'rellink'  

    // the fastq files (paired-end):
    fastq               = ''
        
    // Define reference files as well as names of column in the GTF, and the name of chrM:
    ref_genome          = 'ftp://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M25/GRCm38.primary_assembly.genome.fa.gz'
    ref_gtf             = 'ftp://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M25/gencode.vM25.annotation.gtf.gz'
    ref_gene_name       = 'gene_name'   // name of gene name column in GTF
    ref_gene_id         = 'gene_id'     // name of gene id column in GTF
    ref_gene_type       = 'gene_type'   // name of gene type column in GTF
    ref_chrM            = 'chrM'        // name of mitochondrial chromosome

    // experiment-specific arguments:
    cdna_readlength     = 91                                   // cDNA readlength

    // related to the ParseExonIntronTx module to take the GTF and extract exons+intron sequences:
    parse_intron_threads = 1
    parse_intron_mem     = '16.GB'


    // Parameters related to indexing the gentrome:
    idx_outdir          = "${launchDir}/alevinIndex/"           // name for the output directory of index-related files
    idx_name            = "idx"                                 // name of the folder containing the salmon/alevin idx files
    idx_salmonargs      = '--sparse --gencode'                  // further arguments beyond [ -t -d -i -p ] for salmon/alevin indexing
    idx_threads         = 32                                    // defaults for a cluster node
    idx_mem             = '50.GB'                               // defaults for a cluster node

    // Parameters related to the Alevin quantification process:
    skip_quant          = false
    quant_outdir        = "${launchDir}/alevinQuant/"
    quant_libtype       = 'ISR'
    quant_additional    = '--chromiumV3'                        // additional quant args, including the chemistry, beyond [ -i --tgMap --mrna --rrna -l -p -o -1 -2 ]
    quant_threads       = 8
    quant_mem           = '40.GB'

    // Parameters to reading the quantifications into R and save as mtx.gz:
    skip_mtx            = false
    mtx_outdir          = "${launchDir}/mtx/"
    mtx_threads         = 1
    mtx_mem             = '8.GB'

    // related to HPC/scheduler/SLURM:
    queue           = 'normal'          // SLURM queue on our HPC
    clusteroptions  = '--time=12:00:00' // other arguments when submitting to a cluster:

}

profiles {

    // define the container from Dockerhub
    params.container            = 'atpoint/sc_preprocess:v1.0.0'

    conda {
        process.conda           = "${baseDir}/environment_conda.yml"
        conda.enabled           = true
    }

    docker {
        process.container       = params.container
        docker.enabled          = true        
    }

    singularity {
        process.container       = "docker://${params.container}"
        singularity.enabled     = true
        singularity.autoMounts  = true
    }

    // submission on HPC:
    slurm {
        process.executor        = 'slurm'
        process.queue           = params.queue
        process.clusterOptions  = "${params.clusteroptions}"
    }

    // small test data comprising of murine chr19 and chrM:
    test {
        params.ref_genome          = "$baseDir/test/example_genome.fa.gz"
        params.ref_gtf             = "$baseDir/test/example_annot.gtf.gz"
        params.fastq               = "$baseDir/test/*_{1,2}.fastq.gz"
        params.parse_intron_mem    = '1GB'
        params.idx_threads         = 1
        params.idx_mem             = '1GB'
        params.idx_outdir          = "$baseDir/testdir/idx"
        params.quant_outdir        = "$baseDir/testdir/quant"
        params.mtx_outdir          = "$baseDir/testdir/mtx"
        params.quant_threads       = 1
        params.quant_mem           = '1GB'
        params.quant_libtype       = 'ISR'
        params.quant_additional    = '--chromiumV3 --forceCells 4000' 
    }     
}