/*
 *
 * Example for a slurm config file specifying a queue named 'normal' for up to 8h.
 * See https://www.nextflow.io/docs/latest/config.html?highlight=config for details
 *
 */

profiles {

    slurm {
            process.executor        = 'slurm'
            process.queue           = 'normal'
            process.clusterOptions  = '--time 08:00:00'
        }

}